html,
body,
#root,
.map-container {
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
}

.input {
	border: 1px solid transparent;
	max-width: 400px;
	width: 80%;
	height: 32px;
	padding: 0 12px;
	border-radius: 3px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	font-size: 14px;
	outline: none;
	text-overflow: ellipses;
	position: absolute;
	top: 40px;
	left: 50%;
	transform: translateX(-50%);
}
